##
## build.config - Build configuration
## System sources under license MIT
##

##############
##  NAMING  ##
##############

VERSION		= 0.0.3
RELEASE_NAME	= bare_bones

##############
##  MODES   ##
##############

MODE		= debug
ARCH		= i386

##############
##   QEMU   ##
##############

QEMU		= qemu-system-$(ARCH)
PHYSICAL_MEM	= 1G

