##
## make.config - Makefile config for i386
## System sources under license MIT
##

KERNEL_ARCH_LDFLAGS	=	-Wl,-T$(ARCH_DIR)/i386.ld

KERNEL_ARCH_INCLUDE	=	-I$(ARCH_DIR)/include

KERNEL_ARCH_MULTIBOOT =	$(ARCH_DIR)/multiboot/multiboot.s

KERNEL_ARCH_ASM =	$(ARCH_DIR)/cpu/asm/interrupt.s \
			$(ARCH_DIR)/cpu/asm/dt_flush.s

KERNEL_ARCH_SRCS =	$(ARCH_DIR)/kernel.c \
			$(ARCH_DIR)/timer.c \
			$(ARCH_DIR)/paging/init.c \
			$(ARCH_DIR)/cpu/init/init_gdt.c \
			$(ARCH_DIR)/cpu/init/init_idt.c \
			$(ARCH_DIR)/cpu/isr.c \
			$(ARCH_DIR)/cpu/cr.c \
			$(ARCH_DIR)/cpu/mmu/mmu.c \
			$(ARCH_DIR)/cpu/mmu/page.c \
			$(ARCH_DIR)/cpu/mmu/frame.c \
			$(ARCH_DIR)/pic/pic.c \
			$(ARCH_DIR)/pic/ports.c \
			$(ARCH_DIR)/drivers/monitor/init.c \
			$(ARCH_DIR)/drivers/monitor/monitor.c

